.coffee-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.coffee-list::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

.coffee-list::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.coffee-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 61px;
  overflow-y: scroll;
  max-height: 750px;
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.coffee-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  padding-bottom: 22px;
  flex-basis: 25%;
  box-shadow: 5px 5px 13px 3px rgba(0, 0, 0, 0.1);
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}

.coffee-item:nth-child(1),
.coffee-item:nth-child(2),
.coffee-item:nth-child(3) {
  margin-top: 5px;
}

.coffee-item > img {
  width: 167px;
  height: 115px;
  align-self: center;
  margin-top: 37px;
}

.coffee-item-name {
  margin-top: 14px;
  align-self: center;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.coffeee-item-country {
  margin-top: 14px;
  margin-right: 27px;
  align-self: end;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #000000;
}
.coffee-item-price {
  margin-top: 14px;
  margin-right: 25px;
  align-self: end;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
